<div class="col-12 hide" id="simulatedBudget">
    <h1>Simulated Budget:</h1>
    <table>
        <div class="row">
            <h4 class="col-3">Title</h4>
            <h4 class="col-3">Percentage</h4>
            <h4 class="col-3">Price</h4>
        </div>
        <div class="row">
            <% if (journey.simulatedBudget.category.length> 0) { %>
                <% journey.simulatedBudget.category.forEach(function(category) { %>
                    <% if (category) { %>
                        <p class="col-3">
                            <%= category.name %>
                        </p>
                        <p class="col-3">
                            <%= ((category.price / 1000)*100) %>%
                        </p>
                        <p class="col-3">
                            <%= category.price %>
                        </p>
                        <div class="col-3 btn-container">
                            <button id="showUpdateSimCatForm" type="submit" data-expense-id="<%= category._id %>">
                                <img src="https://cdn2.iconfinder.com/data/icons/daily-use/600/pencil-512.png"
                                    alt="Update Expense" id="updateExpenseImage" class="imgBtn update-btn">
                            </button>

                            <button id="showDelSimCatForm" type="submit" data-expense-id="<%= category._id %>">
                                <img src="https://cdn-icons-png.flaticon.com/512/1843/1843344.png" alt="Delete Category"
                                    id="deleteCategoryImage" class="imgBtn delete-btn">
                            </button>

                            <div id="deleteSimCatModal" data-expense-id="<%= category._id %>" class="hide">
                                <div class="row">
                                    <label>Are you sure You would like to DELETE this
                                        category?</label>
                                </div>
                                <form action="/categories/<%= category._id %>?_method=DELETE" method="POST">
                                    <button type="submit"> Yes </button>
                                    <button id="closeDelSimCatModal" type="button"> No </button>
                                </form>
                            </div>

                            <div id="editSimCatModal" data-expense-id="<%= category._id %>" class="hide">
                                <div class="row">
                                    <label>Are you sure you would like to EDIT this
                                        category?</label>
                                </div>
                                <form action="/categories/<%= category._id %>?_method=PUT" method="POST">
                                    <div>
                                        <label>
                                            Name
                                        </label>
                                        <input type="text" name="name" placeholder="<%= category.name %>">
                                    </div>
                                    <div>
                                        <label>
                                            Spending
                                        </label>
                                        <input type="number" name="price" step="0.01"
                                            placeholder="$<%= category.price %>">
                                    </div>
                                    <button type="submit"> Yes </button>
                                    <button id="closeEditSimCatModal" type="button"> No </button>
                                </form>
                            </div>

                        </div>

                        <% } %>
                            <% }) %>
                                <% } %>

        </div>
    </table>
    <div id="showSimCat" class="hide">
        <form id="simCategoryForm" method="POST" action="/dashboard/<%= journey._id %>/expenses3">
            <div class="row">
                <label>Category:</label>
                <input type="text" name="name" placeholder="Name">
            </div>
            <div class="row">
                <label>Spending:</label>
                <input type="number" name="price" placeholder="$0.00">
            </div>
            <button type="button" id="simCategoryABCloseBtn">Cancel</button>
            <input type="submit" value="Add">
        </form>
    </div>
    <button id="addSimCategoryBtn" class="button">
        <img class="plusCatImg" src="https://cdn-icons-png.flaticon.com/512/32/32339.png" alt="Add Simulated Category"
            id="addSimCategoryImage">
        Categories</button>
</div>