<%- include('../partials/header') %>
    <div class="background">
        <div class="journeyContainer">
            <div class="mainJourneyDiv">
                <a href="/dashboard" id="backIcon">
                </a>
                <h1 id="journeyTitle">
                    My Trip: <%= journey.destination.toUpperCase() %>
                </h1>
                <button type="button" id="showEditJourney" class="showEditJourney"></button>
                <button type="button" id="showDeleteJourney" class="showDeleteJourney"></button>
            </div>
            <div class="toggleTop" id="switch">
                <div class="left-toggleTop" id="leftToggle">
                    REAL
                </div>
                <div class="right-toggleTop" id="rightToggle">
                    SIM
                </div>
            </div>
        </div>
        <div class="row mt-4 mainContainer">
            <div class="col-4" id="dashboardTotal">
                <div id="Toggle">
                    <div class="left-toggle">
                        Numbers
                    </div>
                    <div class="right-toggle">
                        Graphs
                    </div>
                </div>
                <div id="editJourneyShowModal" class="hide">
                    <form id="journeyUpdate" method="POST" action="/dashboard/<%= journey._id %>?_method=PUT">
                        <div class="popUpSpacing">
                            <label>Journey Name:</label>
                            <input class="updateInput" type="text" name="destination"
                                placeholder="<%= journey.destination%>">
                        </div>
                        <div class="popUpSpacing">
                            <label>Actual Spending Budget:</label>
                            <input class="updateInput" type="number" step="0.01" name="actTotal"
                                placeholder="$<%= journey.actualBudget.totalBudget%>">
                        </div>
                        <div class="popUpSpacing">
                            <label>Simulated Budget:</label>
                            <input class="updateInput" type="number" step="0.01" name="simTotal"
                                placeholder="$<%= journey.simulatedBudget.totalBudget %>">

                        </div>
                        <div class="popUpBtns">
                            <button class="CancelPopUp" type="button" id="closeEditJourney">Cancel</button>
                            <input class="confirmsPopUp" type="submit" value="Save">
                        </div>
                    </form>
                </div>
                <div id="deleteJourneyShowModal" class="hide">
                    <form id="journeyDelete" method="POST" action="/dashboard/<%= journey._id %>?_method=DELETE">
                        <div class="popUpSpacing">
                            <div>Are you sure you want to delete this Journey?</div>
                        </div>
                        <div class="popUpBtns">
                            <button class="CancelPopUp" type="button" id="closeDeleteJourney">No</button>
                            <button class="confirmsPopUp" type="submit">Yes</button>
                        </div>
                    </form>
                </div>
                <div id="ActTotals">
                    <h4 class="total-headers">Actual Budget</h4>
                    <div class="totalContents">
                        <div class="total-indiv-count">
                            <h5>
                                Total:
                            </h5>
                            <h5 class="amountIndivCount">
                                <%= journey.actualBudget.totalBudget> 0 ? "$" + journey.actualBudget.totalBudget :
                                    "$0" %>
                            </h5>
                        </div>
                        <% if(topCategoriesAB) { %>
                            <% topCategoriesAB.forEach( category=> { %>
                                <div class="total-indiv-count">
                                    <h6 class="">
                                        <%= category.categoryName==="__NA__" ? "N/A" : category.categoryName %>
                                    </h6>
                                    <h6 class="amountIndivCount">
                                        $<%= category.totalExpenses %>
                                    </h6>
                                </div>
                                <% }); %>
                                    <% } %>
                    </div>
                </div>
                <div id="SimTotals">
                    <h4 class="total-headers">Simulated Budget</h4>
                    <div class="totalContents">
                        <div class="total-indiv-count">
                            <h5>
                                Total:
                            </h5>
                            <h5 class="amountIndivCount">
                                <%= journey.simulatedBudget.totalBudget> 0 ? "$" + journey.simulatedBudget.totalBudget :
                                    "$0" %>
                            </h5>
                        </div>
                        <% if(topCategoriesSim) { %>
                            <% topCategoriesSim.forEach( cat=> { %>
                                <div class="total-indiv-count">
                                    <h6 class="">
                                        <%= cat.catName===null ? "N/A" : cat.catName %>
                                    </h6>
                                    <h6 class="amountIndivCount">
                                        $<%= cat.catAmount %>
                                    </h6>
                                </div>
                                <% }); %>
                                    <% } %>
                    </div>
                </div>

            </div>
            <div class="col-8 maindashBoard" id="dashboardudget">
                <div class="col-12" id="ActualBudget">
                    <div class="abContainer">
                        <div class="">
                            <h3 class="title">ACTUAL EXPENSES</h3>
                        </div>
                        <div class="container-header">
                            <div class="left-header col-6">
                                <h3>My Budget</h3>
                                <h3>
                                    <%= journey.actualBudget.totalBudget> 0 ? "$" + journey.actualBudget.totalBudget :
                                        "$0" %>
                                </h3>
                            </div>
                            <div class="right-header col-6">
                                <h3>Remaining Budget</h3>
                                <h3>
                                    <%= journey.actualBudget.totalBudget> 0 ? "$" + (journey.actualBudget.totalBudget -
                                        500) : "$0" %>
                                </h3>
                            </div>
                        </div>

                        <h3 class="budgetTitle">Trip Expenses</h3>
                        <div class="table">
                            <div class="table-header">
                                <h4 class="col-2">Title</h4>
                                <h4 class="col-2">Price</h4>
                                <h4 class="col-2">Date</h4>
                                <h4 class="col-2">Category</h4>
                                <h4 class="col-1"></h4>
                            </div>
                            <% if (journey.actualBudget.expenses.length> 0) { %>
                                <% journey.actualBudget.expenses.forEach(function(expense) { %>
                                    <% if (expense) { %>
                                        <div class="table-content">
                                            <p class="col-2">
                                                <%= expense.title %>
                                            </p>
                                            <p class="col-2">
                                                $<%= expense.price %>
                                            </p>
                                            <p class="col-2">
                                                <%= expense.expenseDate.toLocaleDateString('en-US') %>
                                            </p>
                                            <% if (expense.category && expense.category.name) { %>
                                                <p class="col-2">
                                                    <%= expense.category.name %>
                                                </p>
                                                <% } else { %>
                                                    <p class="col-2">
                                                        add Category
                                                    </p>
                                                    <% } %>

                                                        <div class="col-1 btn-container">
                                                            <button id="showUpdateModal"
                                                                data-expense-id="<%= expense._id %>">
                                                            </button>

                                                            <button id="showDeleteModal"
                                                                data-expense-id="<%= expense._id %>">
                                                            </button>
                                                        </div>
                                        </div>
                                        <div id="editExpModal" data-expense-id="<%= expense._id %>" class="hide">
                                            <div>Are you sure You want to EDIT this expense?</div>
                                            <form action="/expenses/<%= expense._id %>?_method=PUT" method="POST">
                                                <div>
                                                    <label>
                                                        Expense:
                                                    </label>
                                                    <input type="text" name="title" placeholder="<%= expense.title %>">
                                                </div>
                                                <div>
                                                    <label>
                                                        Price:
                                                    </label>
                                                    <input type="number" name="price" step="0.01"
                                                        placeholder="$<%= expense.price %>">
                                                </div>
                                                <div>
                                                    <label>Date:</label>
                                                    <input type="date" name="expenseDate"
                                                        value="<%= expense.expenseDate.toISOString().split('T')[0] %>">
                                                </div>
                                                <div>
                                                    <label for="category">Category:</label>
                                                    <select name="category" id="category">
                                                        <% if (journey.actualBudget.category.length> 0) { %>
                                                            <% journey.actualBudget.category.forEach(category=> { %>
                                                                <option value="<%= category.id %>"
                                                                    id="<%= category._id %>">
                                                                    <%= category.name %>
                                                                </option>
                                                                <% }); %>
                                                                    <% } else { %>
                                                                        <option value="Coming Soon">Coming Soon</option>
                                                                        <% } %>
                                                    </select>

                                                </div>
                                                <div class="popUpBtns">
                                                    <button class="CancelPopUp" id="closeDelExpModal" type="button"> No
                                                    </button>
                                                    <button class="confirmsPopUp" type="submit"> Yes </button>
                                                </div>

                                            </form>
                                        </div>
                                        <div id="deleteExpModal" class="hide" data-expense-id="<%= expense._id %>"
                                            class="hide">
                                            <form action="/expenses/<%= expense._id %>?_method=DELETE" method="POST">
                                                <div>Are you sure You want to DELETE this
                                                    expense?</div>
                                                <div class="popUpBtns">
                                                    <button id="closeDelExpModal" class="CancelPopUp" type="button"> No
                                                    </button>
                                                    <button class="confirmsPopUp" type="submit"> Yes </button>
                                            </form>
                                        </div>
                        </div>
                        <% } %>
                            <% }) %>
                                <% } %>
                    </div>
                    <div id="showExpense" class="hide">
                        <form id="expenseForm" class="" method="POST" action="/dashboard/<%= journey._id %>/expenses">
                            <div class="popUpSpacing">
                                <label>Description:</label>
                                <input type="text" name="title">
                            </div>
                            <div class="popUpSpacing">
                                <label>Price:</label>
                                <input type="number" name="price" step="0.01" placeholder="$0.00">
                            </div>
                            <div class="popUpSpacing">
                                <label>Date:</label>
                                <input type="date" name="expenseDate">
                            </div>
                            <div class="popUpBtns">
                                <button class="CancelPopUp" type="button" id="expenseCloseBtn">Cancel</button>
                                <input class="confirmsPopUp" type="submit" value="Save">
                            </div>
                        </form>
                    </div>
                    <div id="catDelModal" class="hide">
                        <form id="expenseForm" class="" method="POST" action="/abCategories?_method=DELETE">
                            <div>
                                <label for="category">Category:</label>
                                <select name="category" id="category">
                                    <% if (journey.actualBudget.category.length> 0) { %>
                                        <% journey.actualBudget.category.forEach(category=> { %>
                                            <option value="<%= category.id %>" id="<%= category._id %>">
                                                <%= category.name %>
                                            </option>
                                            <% }); %>
                                                <% } else { %>
                                                    <option value="Coming Soon">Coming Soon</option>
                                                    <% } %>
                                </select>
                            </div>
                            <div class="popUpBtns">
                                <button class="CancelPopUp" type="button" id="closeCatBtn">Cancel</button>
                                <input class="confirmsPopUp" type="submit" value="Delete">
                            </div>
                        </form>
                    </div>

                    <div id="showCat" class="hide">
                        <form id="categoryForm" method="POST" action="/dashboard/<%= journey._id %>/expenses2">
                            <div class="popUpSpacing">
                                <label>Category Name:</label>
                                <input type="text" name="name">
                            </div>
                            <div class="popUpBtns">
                                <button class="CancelPopUp" type="button" id="categoryABCloseBtn">Cancel</button>
                                <input class="confirmsPopUp" type="submit" value="Save">
                            </div>
                        </form>
                    </div>

                    <button id="addExpenseBtn" class="addingBtns">+ Expense</button>
                    <button id="addCategoryBtn" class="addingBtns">+ Categories</button>
                    <button id="delCategoryBtn" class="addingBtns">Delete Categories</button>
                </div>
            </div>

            <div class="col-12 hide" id="simulatedBudget">
                <div class="abContainer">
                    <div class="popUpSpacing">
                        <h3 class="title">SIMULATED BUDGET</h3>
                    </div>
                    <div class="container-header">
                        <div class="left-header col-6">
                            <h3>My Budget</h3>
                            <h3>
                                <%= journey.actualBudget.totalBudget> 0 ? "$" + journey.actualBudget.totalBudget : "$0"
                                    %>
                            </h3>
                        </div>
                        <div class="right-header col-6">
                            <h3>Remaining Budget</h3>
                            <h3>
                                <%= journey.simulatedBudget.totalBudget> 0 ? "$" +
                                    (journey.simulatedBudget.totalBudget
                                    - 500) : "$0" %>

                            </h3>
                        </div>
                    </div>
                    <h3 class="budgetTitle">Trip Expenses</h3>


                    <div class="cable-Container">
                        <div class="table-header">
                            <h4 class="col-3">Title</h4>
                            <h4 class="col-3">Percentage</h4>
                            <h4 class="col-3">Price</h4>
                            <h4 class="col-1"></h4>
                        </div>
                        <% if (journey.simulatedBudget.category.length> 0) { %>
                            <% journey.simulatedBudget.category.forEach(function(category) { %>
                                <% if (category) { %>
                                    <div class="table-content">
                                        <p class="col-3">
                                            <%= category.name %>
                                        </p>
                                        <p class="col-3">
                                            <%= Math.floor((category.price / 1000)*100) %>%
                                        </p>
                                        <p class="col-3">
                                            <%= category.price %>
                                        </p>
                                        <div class="col-1 btn-container">
                                            <button id="showUpdateSimCatForm" type="submit"
                                                data-expense-id="<%= category._id %>">
                                            </button>

                                            <button id="showDelSimCatForm" type="submit"
                                                data-expense-id="<%= category._id %>">
                                            </button>
                                        </div>
                                        <div id="deleteSimCatModal" data-expense-id="<%= category._id %>" class="hide">
                                            <div class="popUpSpacing">
                                                <label>Are you sure You would like to DELETE this
                                                    category?</label>
                                            </div>
                                            <form action="/categories/<%= category._id %>?_method=DELETE" method="POST">
                                                <div class="popUpBtns">
                                                    <button class="confirmsPopUp" type="submit"> Yes </button>
                                                    <button id="closeDelSimCatModal" type="button" class="CancelPopUp"
                                                        value="No">
                                                        No
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                        <div id="editSimCatModal" data-expense-id="<%= category._id %>" class="hide">
                                            <div class="row">
                                                <label>Are you sure you would like to EDIT this
                                                    category?</label>
                                            </div>
                                            <form action="/categories/<%= category._id %>?_method=PUT" method="POST">
                                                <div>
                                                    <label>
                                                        Name
                                                    </label>
                                                    <input type="text" name="name" placeholder="<%= category.name %>">
                                                </div>
                                                <div>
                                                    <label>
                                                        Spending
                                                    </label>
                                                    <input type="number" name="price" step="0.01"
                                                        placeholder="$<%= category.price %>">
                                                </div>
                                                <div class="popUpBtns">
                                                    <button class="confirmsPopUp" id="closeEditSimCatModal"
                                                        type="button">
                                                        No
                                                    </button>
                                                    <button class="CancelPopUp" type="submit"> Yes </button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>

                                    <% } %>
                                        <% }) %>
                                            <% } %>

                                                <div id="showSimCat" class="hide">
                                                    <form id="simCategoryForm" method="POST"
                                                        action="/dashboard/<%= journey._id %>/expenses3">
                                                        <div class="popUpSpacing">
                                                            <label>Category:</label>
                                                            <input type="text" name="name" placeholder="Name">
                                                        </div>
                                                        <div class="popUpSpacing">
                                                            <label>Spending:</label>
                                                            <input type="number" name="price" step="0.01"
                                                                placeholder="$0.00">
                                                        </div>
                                                        <div class="popUpBtns">
                                                            <button class="CancelPopUp" type="button"
                                                                id="simCategoryABCloseBtn">Cancel</button>
                                                            <input class="confirmsPopUp" type="submit" value="Add">
                                                        </div>
                                                    </form>
                                                </div>

                                                <!-- The div below needs to be refactored, it's using the same id name as a different Modal-->
                                                <div id="editJourneyShowModal" class="hide">
                                                    <form id="simCategoryForm" method="POST"
                                                        action="/dashboard/<%= journey._id %>/expenses3">
                                                        <div class="popUpSpacing">
                                                            <label>Category:</label>
                                                            <input type="text" name="name" placeholder="Name">
                                                        </div>
                                                        <div class="popUpSpacing">
                                                            <label>Spending:</label>
                                                            <input type="number" name="price" step="0.01"
                                                                placeholder="$0.00">
                                                        </div>
                                                        <div class="popUpBtns">
                                                            <button class="CancelPopUp" type="button"
                                                                id="closeEditJourney">Cancel</button>
                                                            <input class="confirmsPopUp" type="submit" value="Add">
                                                        </div>
                                                    </form>
                                                </div>
                    </div>
                    <button id="addSimCategoryBtn" class="addingBtns">+
                        Categories</button>
                </div>

            </div>
        </div>
        <div id="overlay"></div>
        <script defer src="/javascripts/dashboard.js"></script>
        <%- include('../partials/footer') %>