<%- include('../partials/header') %>

    <br><br>
    <h1>Expenses Actual Budget:</h1>
    <form id="add-review-form" method="POST" action="/dashboard/<%= journey._id %>/expenses">
        <label>Expense Name:</label>
        <input type="text" name="title">
        <label>Cost:</label>
        <input type="number" name="price">
        <label>Date:</label>
        <input type="date" name="expenseDate">
        <input type="submit" value="Add Expense">
    </form>

    <br><br>
    <h1>Category Actual Budget:</h1>
    <form id="add-review-form" method="POST" action="/dashboard/<%= journey._id %>/expenses2">
        <label>Category Name:</label>
        <input type="text" name="name">
        <input type="submit" value="Add Category">
    </form>

    <br><br>
    <h1>Simulated Budget:</h1>
    <form id="add-review-form" method="POST" action="/dashboard/<%= journey._id %>/expenses3">
        <label>Expense Name:</label>
        <input type="text" name="name">
        <label>Cost:</label>
        <input type="number" name="price">
        <input type="submit" value="Add Category">
    </form>

    <br><br>
    <table>
        <% if (journey.actualBudget.expenses.length> 0) { %>
            <% journey.actualBudget.expenses.forEach(function(expense) { %>
                <% if (expense) { %>
                    <h2>
                        <%= expense.title %>
                    </h2>
                    <% } %>
                        <% }) %>
                            <% } %>

    </table>

    <%- include('../partials/footer') %>