<% shouldIncludeDashboardJS=true %>
    <%- include('../partials/header') %>

        <div class="container">
            <div class="row"><input id="switch" type="checkbox"></div>
            <div class="row">
                <div class="col-12" id="ActualBudget">
                    <h1>Expenses Actual Budget:</h1>
                    <table>
                        <div class="row">
                            <h4 class="col-3">Title</h4>
                            <h4 class="col-3">Price</h4>
                            <h4 class="col-3">Date</h4>
                            <h4 class="col-3">Category</h4>
                        </div>
                        <div class="row">
                            <% if (journey.actualBudget.expenses.length> 0) { %>
                                <% journey.actualBudget.expenses.forEach(function(expense) { %>
                                    <% if (expense) { %>
                                        <p class="col-3">
                                            <%= expense.title %>
                                        </p>
                                        <p class="col-3">
                                            $<%= expense.price %>
                                        </p>
                                        <p class="col-3">
                                            <%= expense.expenseDate.toLocaleDateString('en-US') %>
                                        </p>
                                        <div class="col-3 btn-container">
                                            <form action="/expenses/<%= expense._id %>?_method=UPDATE" method="POST">
                                                <button type="submit"> <img
                                                        src="https://cdn2.iconfinder.com/data/icons/daily-use/600/pencil-512.png"
                                                        alt="Update Expense" id="updateExpenseImage"
                                                        class="imgBtn update-btn"></button>
                                            </form>
                                            <form action="/expenses/<%= expense._id %>?_method=DELETE" method="POST">
                                                <button type="submit"> <img
                                                        src="https://cdn-icons-png.flaticon.com/512/1843/1843344.png"
                                                        alt="Add Expense" id="deleteExpenseImage"
                                                        class="imgBtn delete-btn"></button>
                                            </form>
                                        </div>
                                        <% } %>
                                            <% }) %>
                                                <% } %>


                        </div>
                    </table>
                    <div id="showExpense" class="hide">
                        <form id="expenseForm" class="" method="POST" action="/dashboard/<%= journey._id %>/expenses">
                            <div class="row">
                                <label>Expense:</label>
                                <input type="text" name="title" placeholder="Title">
                            </div>
                            <div class="row">
                                <label>Price:</label>
                                <input type="number" name="price" step="0.01" placeholder="$0.00">
                            </div>
                            <div class="row">
                                <label>Date:</label>
                                <input type="date" name="expenseDate">
                            </div>
                            <button id="expenseCloseBtn">Cancel</button>
                            <input type="submit" value="Save">
                        </form>
                    </div>

                    <div id="showCat" class="hide">
                        <form id="categoryForm" method="POST" action="/dashboard/<%= journey._id %>/expenses2">
                            <label>Category Name:</label>
                            <input type="text" name="name" placeholder="Name">
                            <input type="submit" value="" style="background: none; border: none;">
                            <button id="categoryABCloseBtn">Cancel</button>
                            <input type="submit" value="Save">
                        </form>
                    </div>

                    <button id="addExpenseBtn" class="button">Add Expense</button>
                    <button id="addCategoryBtn" class="button">Add Category</button>
                </div>

                <div class="col-12 hide" id="simulatedBudget">
                    <h1>Simulated Budget:</h1>
                    <table>
                        <div class="row">
                            <h4 class="col-4">Title</h4>
                            <h4 class="col-4">Price</h4>
                        </div>
                        <div class="row">
                            <% if (journey.simulatedBudget.category.length> 0) { %>
                                <% journey.simulatedBudget.category.forEach(function(category) { %>
                                    <% if (category) { %>
                                        <p class="col-4">
                                            <%= category.name %>
                                        </p>
                                        <p class="col-4">
                                            <%= category.price %>
                                        </p>
                                        <p clas="col-4"></p>
                                        <% } %>
                                            <% }) %>
                                                <% } %>

                        </div>
                    </table>
                    <div id="showSimCat" class="hide">
                        <button id="categorySBCloseBtn">&times;</button>

                        <form id="simCategoryForm" method="POST" action="/dashboard/<%= journey._id %>/expenses3">
                            <label>Expense Name:</label>
                            <input type="text" name="name">
                            <label>Cost:</label>
                            <input type="number" name="price">

                            <input type="submit" value="" style="background: none; border: none;">
                            <img src="https://pic.onlinewebfonts.com/thumbnails/icons_55417.svg"
                                alt="Add Simulated Category" id="addSimCategoryImage" class="imgBtn">
                        </form>
                    </div>
                    <button id="addSimCategoryBtn" class="button">
                        <img src="https://cdn-icons-png.flaticon.com/512/32/32339.png" alt="Add Simulated Category"
                            id="addSimCategoryImage" class="imgBtn">
                        Categories</button>
                </div>
            </div>
            <div id="overlay"></div>
        </div>
        <script defer src="/javascripts/dashboard.js"></script>
        <%- include('../partials/footer') %>